/*==================================================================================================== 
    START ==> INITIAL CSS RESET
==================================================================================================== */
/*  Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 2px solid lime; <== to identify all sizes*/
    /* background: hsl(0 100% 50% / 0.1 <== to identify Layering*/
}

/* Remove default margin & padding*/
* {
    margin: 0;
    padding: 0;
}

/* Typographic tweaks (Add accessible line-height)*/
body {
    line-height: 1.5;
}

/* Improve media defaults*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles (Überall Standard font nutzen)*/
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows (Zu Lange Wörter werden nun umgebrochen (may change for Headline's to normal, if needed))*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*==================================================================================================== 
    END ==> *
==================================================================================================== */


/*==================================================================================================== 
    START ==> :ROOT
==================================================================================================== */
:root {

    /*============================================================ 
        :ROOT - BASICS
    ============================================================ */
    /*Basics - for Container*/
    --stdMargin: 4rem;
    --stdPadding: 1rem;
    --stdRadius: 0.5rem;
    --stdGap: 1.5rem;

    /*Basics for InteractiveElements (Link / Button / Input) */
    --stdPaddingInteractiveElements: 0.5rem 2rem;
    --stdRadiusInteractiveElements: 0.5rem;


    /*============================================================ 
        :ROOT - FONTS
    ============================================================ */
    --fontFamilyHeadlines: Arial, Helvetica, sans-serif;
    --fontFamilyDefault: Verdana, Geneva, Tahoma, sans-serif;

    /*========================================
    FONT SIZES - AS A TYPICAL STRUCTURE FOR WEBPAGES
    USAGE:
     ==> "...Default..." for Text and Inputs
     ==> "...Sec..." e.g. Imagedescription (add italic and a lighter color) 
     ==> "...Tertiary..." e.g. Tables
     ========================================*/

    /*====================
    FONT SIZES - INTERACTION HEAVY
    ====================*/
    /*Mobile*/
    /*40px*/
    /*Use between 28px-40px*/
    --fsMobileH1: 2.5rem;
    /*32px*/
    --fsMobileH2: 2rem;
    /*28px*/
    --fsMobileH3: 1.75rem;
    /*24px*/
    --fsMobileH4: 1.5rem;
    /*18px* - Use between 16px-18px*/
    --fsMobileDefault: 1.125rem;
    /*16px - Use 2px smaller than default*/
    --fsMobileSec: 1rem;
    /*14px*/
    --fsMobileTertiary: 0.875rem;

    /*Desktop*/
    /*48px* - Use between 35px-50px*/
    --fsDesktopH1: 3rem;
    /*40px*/
    --fsDesktopH2: 2.5rem;
    /*36px*/
    --fsDesktopH3: 2.25rem;
    /*32px*/
    --fsDesktopH4: 2rem;
    /*20px* - Use between 14px-20px*/
    --fsDesktopDefault: 1.25rem;
    /*18px* - Use 2px smaller than default*/
    --fsDesktopSec: 1.125rem;
    /*16px*/
    --fsDesktopTertiary: 1rem;


    /*============================================================ 
        :ROOT - COLOURS
    ============================================================ */
    /*Text AND Background's (BG)*/

    /*LightMode (Default)*/
    /*Default Text and Background InLightMode*/
    --clrTextDefaultInLightMode: black;
    --clrBGDefaultInLightMode: white;
    /*Text interactive Elements in LightMode*/
    --clrTextLinkInLightMode: black;
    --clrTextBtnInLightMode: black;
    --clrTextCtaInLightMode: black;
    /*Background interactive Elements in LightMode*/
    --clrBGLinkInLightMode: rgb(55, 0, 255);
    --clrBGBtnInLightMode: rgb(55, 0, 255);
    --clrBGCtaInLightMode: rgb(0, 255, 98);
    --clrBGLinkHoverInLightMode: rgb(105, 63, 255);
    --clrBGBtnHoverInLightMode: rgb(105, 63, 255);
    --clrBGCtaHoverInLightMode: rgb(76, 255, 145);
    /*TODO:--clrContainerBackgroundInLightMode: <transparen>;*/

    /*DarkMode*/
    /*Default Text and Background InDarkMode*/
    --clrTextDefaultInDarkMode: white;
    --clrBGDefaultInDarkMode: black;
    /*Text interactive Elements in LightMode*/
    --clrTextLinkInDarkMode: white;
    --clrTextBtnInDarkMode: white;
    --clrTextCtaInDarkMode: white;
    /*Background interactive Elements in LightMode*/
    --clrBGLinkInDarkMode: grey;
    --clrBGBtnInDarkMode: grey;
    --clrBGCtaInDarkMode: grey;
    --clrBGLinkHoverInDarkMode: lightgrey;
    --clrBGBtnHoverInDarkMode: lightgrey;
    --clrBGCtaHoverInDarkMode: lightgrey;
    /*TODO:--clrContainerBackgroundInLightMode: <transparen>;*/

    /*Primary Color*/
    --clrPrim95: #eff0f5;
    --clrPrim90: #e0e1eb;
    --clrPrim85: #d0d1e1;
    --clrPrim80: #c1c2d7;
    --clrPrim75: #b1b3cd;
    --clrPrim70: #a2a4c3;
    --clrPrim65: #9295b9;
    --clrPrim60: #8386af;
    --clrPrim55: #7376a5;
    --clrPrim50: #63679c;
    --clrPrim45: #5a5d8c;
    --clrPrim40: #50537c;
    --clrPrim35: #46486d;
    --clrPrim30: #3c3e5d;
    --clrPrim25: #32344e;
    --clrPrim20: #28293e;
    --clrPrim15: #1e1f2f;
    --clrPrim10: #14151f;
    --clrPrim5: #0a0a10;

    /*Secondary Color*/
    --clrSec95: #e6f8ff;
    --clrSec90: #ccf1ff;
    --clrSec85: #b3ebff;
    --clrSec80: #99e4ff;
    --clrSec75: #80ddff;
    --clrSec70: #66d6ff;
    --clrSec65: #4dcfff;
    --clrSec60: #33c9ff;
    --clrSec55: #1ac2ff;
    --clrSec50: #00bbff;
    --clrSec45: #00a8e6;
    --clrSec40: #0096cc;
    --clrSec35: #0083b3;
    --clrSec30: #007099;
    --clrSec25: #005e80;
    --clrSec20: #004b66;
    --clrSec15: #00384d;
    --clrSec10: #002533;
    --clrSec5: #00131a;

    /*Accent Color*/
    --clrAcc95: #e6fff6;
    --clrAcc90: #ccffec;
    --clrAcc85: #b3ffe3;
    --clrAcc80: #99ffda;
    --clrAcc75: #80ffd0;
    --clrAcc70: #66ffc7;
    --clrAcc65: #4dffbe;
    --clrAcc60: #33ffb4;
    --clrAcc55: #1affab;
    --clrAcc50: #00ffa2;
    --clrAcc45: #00e691;
    --clrAcc40: #00cc81;
    --clrAcc35: #00b371;
    --clrAcc30: #009961;
    --clrAcc25: #008051;
    --clrAcc20: #006641;
    --clrAcc15: #004d30;
    --clrAcc10: #003320;
    --clrAcc5: #001a10;
}

/*==================================================================================================== 
    END ==> :ROOT
==================================================================================================== */


/*==================================================================================================== 
    START ==> GLOBAL
==================================================================================================== */
/*============================================================ 
    GLOBAL ==> BASIC ELEMENTS
============================================================ */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontFamilyDefault);
    font-size: var(--fsDesktopDefault);
}

h1,
h2,
h3,
h4 {
    font-family: var(--fontFamilyHeadlines);
}

h1 {
    font-size: var(--fsDesktopH1);
}

h2 {
    font-size: var(--fsDesktopH2);
}

h3 {
    font-size: var(--fsDesktopH3);
}

h4 {
    font-size: var(--fsDesktopH4);
}

a {
    display: inline-block;
    text-decoration: none;
    padding: var(--stdPaddingInteractiveElements);
    border-radius: var(--stdRadiusInteractiveElements);
    color: var(--clrTextLinkInLightMode);
    background-color: var(--clrBGLinkInLightMode);
}

a:hover {
    background-color: var(--clrBGLinkHoverInLightMode);
}

nav a {
    text-decoration: none;
    padding: var(--stdPaddingInteractiveElements);
    border-radius: var(--stdRadiusInteractiveElements);
    color: var(--clrTextLinkInLightMode);
    background-color: var(--clrBGLinkInLightMode);
}

nav a:hover {
    background-color: var(--clrBGLinkHoverInLightMode);
}

button {
    display: inline-block;
    padding: var(--stdPaddingInteractiveElements);
    border-radius: var(--stdRadiusInteractiveElements);
    color: var(--clrTextBtnInLightMode);
    background-color: var(--clrBGBtnInLightMode);
}

button:hover {
    background-color: var(--clrBGBtnHoverInLightMode);
}

.cta {
    padding: var(--stdPaddingInteractiveElements);
    border-radius: var(--stdRadiusInteractiveElements);
    color: var(--clrTextCtaInLightMode);
    background-color: var(--clrBGCtaInLightMode);
}

.cta:hover {
    background-color: var(--clrBGCtaHoverInLightMode);
}

input,
textarea {
    font-size: var(--fsDesktopDefault);
    padding: var(--stdPaddingInteractiveElements);
}


/*============================================================ 
    GLOBAL ==> USEFUL CLASSES
============================================================ */
.contentLimit {
    width: 100%;
    min-width: 320px;
    max-width: 1440px;
}

.d_none {
    display: none;
}

.darkmode {
    color: var(--clrTextDefaultInDarkMode);
    background-color: var(--clrBGDefaultInDarkMode);
}

/*BASIC FLEXBOX KLASSEN ==> x=xAchse / y=yAchse / C = Center */
.flexROW_xC {
    display: flex;
    justify-content: center;
}

.flexROW__xCyC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCOLUMN_xC {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexCOLUMN_xCyC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*==================================================================================================== 
    END ==> GLOBAL
==================================================================================================== */