:root {
    /*============================================================ 
        :ROOT - COLOURS
    ============================================================ */
    /*Text AND Background's (BG)*/

    /*LightMode (Default)*/
    /*Default Text and Background InLightMode*/
    --clrTextDefaultInLightMode: black;
    --clrBGDefaultInLightMode: white;
    /*Text interactive Elements in LightMode*/
    --clrTextLinkInLightMode: black;
    --clrTextBtnInLightMode: black;
    --clrTextCtaInLightMode: black;
    /*Background interactive Elements in LightMode*/
    --clrBGLinkInLightMode: rgb(55, 0, 255);
    --clrBGBtnInLightMode: rgb(55, 0, 255);
    --clrBGCtaInLightMode: rgb(0, 255, 98);
    --clrBGLinkHoverInLightMode: rgb(105, 63, 255);
    --clrBGBtnHoverInLightMode: rgb(105, 63, 255);
    --clrBGCtaHoverInLightMode: rgb(76, 255, 145);
    /*TODO:--clrContainerBackgroundInLightMode: <transparen>;*/

    /*DarkMode*/
    /*Default Text and Background InDarkMode*/
    --clrTextDefaultInDarkMode: white;
    --clrBGDefaultInDarkMode: black;
    /*Text interactive Elements in LightMode*/
    --clrTextLinkInDarkMode: white;
    --clrTextBtnInDarkMode: white;
    --clrTextCtaInDarkMode: white;
    /*Background interactive Elements in LightMode*/
    --clrBGLinkInDarkMode: grey;
    --clrBGBtnInDarkMode: grey;
    --clrBGCtaInDarkMode: grey;
    --clrBGLinkHoverInDarkMode: lightgrey;
    --clrBGBtnHoverInDarkMode: lightgrey;
    --clrBGCtaHoverInDarkMode: lightgrey;
    /*TODO:--clrContainerBackgroundInLightMode: <transparen>;*/

    /*Primary Color*/
    --clrPrim95: #eff0f5;
    --clrPrim90: #e0e1eb;
    --clrPrim85: #d0d1e1;
    --clrPrim80: #c1c2d7;
    --clrPrim75: #b1b3cd;
    --clrPrim70: #a2a4c3;
    --clrPrim65: #9295b9;
    --clrPrim60: #8386af;
    --clrPrim55: #7376a5;
    --clrPrim50: #63679c;
    --clrPrim45: #5a5d8c;
    --clrPrim40: #50537c;
    --clrPrim35: #46486d;
    --clrPrim30: #3c3e5d;
    --clrPrim25: #32344e;
    --clrPrim20: #28293e;
    --clrPrim15: #1e1f2f;
    --clrPrim10: #14151f;
    --clrPrim5: #0a0a10;

    /*Secondary Color*/
    --clrSec95: #e6f8ff;
    --clrSec90: #ccf1ff;
    --clrSec85: #b3ebff;
    --clrSec80: #99e4ff;
    --clrSec75: #80ddff;
    --clrSec70: #66d6ff;
    --clrSec65: #4dcfff;
    --clrSec60: #33c9ff;
    --clrSec55: #1ac2ff;
    --clrSec50: #00bbff;
    --clrSec45: #00a8e6;
    --clrSec40: #0096cc;
    --clrSec35: #0083b3;
    --clrSec30: #007099;
    --clrSec25: #005e80;
    --clrSec20: #004b66;
    --clrSec15: #00384d;
    --clrSec10: #002533;
    --clrSec5: #00131a;

    /*Accent Color*/
    --clrAcc95: #e6fff6;
    --clrAcc90: #ccffec;
    --clrAcc85: #b3ffe3;
    --clrAcc80: #99ffda;
    --clrAcc75: #80ffd0;
    --clrAcc70: #66ffc7;
    --clrAcc65: #4dffbe;
    --clrAcc60: #33ffb4;
    --clrAcc55: #1affab;
    --clrAcc50: #00ffa2;
    --clrAcc45: #00e691;
    --clrAcc40: #00cc81;
    --clrAcc35: #00b371;
    --clrAcc30: #009961;
    --clrAcc25: #008051;
    --clrAcc20: #006641;
    --clrAcc15: #004d30;
    --clrAcc10: #003320;
    --clrAcc5: #001a10;
}