/*==================================================================================================== 
    START ==> FOOTER
==================================================================================================== */
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10vh;
    /*1:1 header height*/
    background-color: var(--clrPrim50);
}


.content__Footer {
    /* add specific design for header content here */
}

/*==================================================================================================== 
    END ==> FOOTER
==================================================================================================== */